SUBSCRIPTION_SERVICE_HOST=0.0.0.0
SUBSCRIPTION_SERVICE_HTTP_PORT=8080
SUBSCRIPTION_SERVICE_GRPC_PORT=50051
SUBSCRIPTION_SERVICE_DB_USER=postgres
SUBSCRIPTION_SERVICE_DB_PASSWORD=postgres
SUBSCRIPTION_SERVICE_DB_NAME=subscription_service
SUBSCRIPTION_SERVICE_DB_HOST_PORT=5432

RELEASE_TRACKER_HOST=0.0.0.0
RELEASE_TRACKER_HTTP_PORT=8081
RELEASE_TRACKER_DB_USER=postgres
RELEASE_TRACKER_DB_PASSWORD=postgres
RELEASE_TRACKER_DB_NAME=release_tracker
RELEASE_TRACKER_DB_HOST_PORT=5433
RELEASE_TRACKER_TIMEOUT=10s

EVENT_BUS_URL=amqp://guest:guest@rabbitmq:5672/
NOTIFICATION_EXCHANGE=notifications
NOTIFICATION_QUEUE=notification-worker
NOTIFICATION_DEAD_LETTER_QUEUE=notification-worker.dlq

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_TIMEOUT=10s
FROM_EMAIL=no-reply@test.com
PUBLIC_BASE_URL=http://localhost:8080

SCAN_INTERVAL=1m

GITHUB_TIMEOUT=10s
GITHUB_URL=https://api.github.com
GITHUB_TOKEN=your_github_token_here
