# Binaries
bin/
main

# OS metadata
.DS_store
Thumbs.db

# Go workspace
go.work

# Node and Playwright artifacts
node_modules/
test-results/
playwright-report/

# Test coverage artifacts
coverage/

# Environment variables
.env
